@model Instrument[]

@{
    ViewData["Title"] = "Index";
}

<h1>Результаты поиска</h1>

@if (Model.Length == 0)
{
    <p>Ничего не найдено.</p>
}
else
{
    <ul>
    @foreach (var instrument in Model)
    {
        <li><a href="@Url.Action("Index", "Instrument", new { id = instrument.Id })">@instrument.Title</a></li>
    }
    </ul>
}
